@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --winning-blocks: #0f8120;
}
body {
    background-color: #062223; /* this is to set body background color */
    color: #0d585c;
    font-family: Arial, sans-serif;
    margin: 0; /* this is for removing default margin */
    padding: 0; /* this is for removing default padding */
    font-family: "Rubik Distressed",sans-serif;
}

.container {
    padding: 20px;
    min-height: 100vh; /* this baisically ensures the container fills the entire viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #062223; /* This match the body background color */
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
    color: limegreen;
}

.gameboard {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: limegreen;
    font-size: 100px;
    border-right: 10px solid;
    border-bottom: 10px solid;
    font-family: "Rubik Distressed",sans-serif;
}
.box:nth-child(3n) {
    border-right: none;
}
.box:nth-child(6) ~ .box {
    border-bottom: none;
} 

.box:hover {
    color:limegreen;
    opacity: 0.75;
} 

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color:#19cc34;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    border: none;
}
button:hover {
    cursor: pointer;
    transform: translate(-2px);
}
#restartBtn {
    margin-top: 50px;
 }
 
#restartBtn {
   margin-top: 50px;
}

#score {
    margin-top: 50px;
}

p {
    margin: 10px;
    color: #19cc34;
    font-size: larger;
}
@media  screen and  (min-width: 768px){
    #score {
        display: flex;
        justify-content: space-between;
    }
    p {
       padding: 50px;
    }
}


@media  screen and  (max-width: 424px){
     p {
       padding: 50px;
    }
}
